/*categories list*/
ul.stores-categories-list {
    display: flex;
    list-style: none;
    column-gap: 15px;
    row-gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

ul.stores-categories-list>li {
    display: inline-block;
    padding: 2px 6px;
    font-size: 16px;
}

/*stores list*/
.card-deck.stores-list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.search {
    margin-top: 20px;
    margin-bottom: 3px;
}


div input {
    border-radius: 10rem 0 0 10rem;
    border: none;
    height: 3rem;
    width: 20rem;
    background-color: #f1f1f1;
    padding: 1.2rem;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
}

.search-btn {
    color: grey;
    height: 3rem;
    width: 5rem;
    font-size: 1rem;
    border-radius: 0 10rem 10rem 0;
    border: none;
    background-color: #C21804;
    color: white;
    opacity: .8;
    outline: none;
}

.search:hover{
    opacity: 1;
    cursor: pointer;
}