<div class="container home-page-container">
  
  <div class="search-wrapper" title="Search by store name or category">
    <input #s [(ngModel)]="searchTerm" [(ngModel)]="model" [ngbTypeahead]="search"  type="text" placeholder="Search (Store or Category)" (keyup.enter)="searchStores()" >
    <button class="search-btn" (click)="searchStores()"><i class="fa fa-search" aria-hidden="true"></i><span class="btn-txt">Search</span></button>  
  </div>

  <ul class="stores-categories-list">
    <li><button (click)="filterByCategory('ALL')" [class.active]="selectedCategory === 'ALL'" class="category-button c-all" >All Categories</button></li>
    <li><button (click)="filterByCategory('COFFEE')" [class.active]="selectedCategory === 'COFFEE'" class="category-button c-coffee">Coffee</button></li>
    <li><button (click)="filterByCategory('FAST FOOD')" [class.active]="selectedCategory === 'FAST FOOD'" class="category-button c-fast-food">Fast food</button></li>
    <li><button (click)="filterByCategory('PIZZA')" [class.active]="selectedCategory === 'PIZZA'" class="category-button c-pizza">Pizza</button></li>    
    <li><button (click)="filterByCategory('ASIAN')" [class.active]="selectedCategory === 'ASIAN'" class="category-button c-asian">Asian</button></li>
  </ul>

  <h2 class="secondary-title" *ngIf="filteredFamousStoresList.length > 0">Famous Stores</h2>

  <div class="card-deck stores-list famous-stores-list">
    @for(p of filteredFamousStoresList; track $index){
      <app-store-item [store]="p" class="store-item-wrapper"></app-store-item>
    }
  </div>

  <h2 class="secondary-title" *ngIf="filteredStoresList.length > 0">Other Stores</h2>

  <div class="card-deck stores-list">
    @for(s of filteredStoresList; track $index){
      <app-store-item [store]="s" class="store-item-wrapper"></app-store-item>
    } 
  </div>

  <div class="empty-stores-list" *ngIf="filteredStoresList.length == 0 && filteredFamousStoresList.length == 0">
    <h2 class="secondary-title"> No stores found</h2>
  </div>
</div>
