.header-logo-img {
  height: 70px;
  width: 70px;
}

.header-profile-img {
  height: 55px;
  width: 55px;
  border-radius: 15%;
  margin-left: 15px;
}


.selected {
  border: 2px solid red;
  border-radius: 5px; 
}

.btn_img {
  border-radius: 50%;
  padding: 0;
  background-color: red;
  overflow: hidden;
}

.btn_img:hover{
  transform: scale(1.1);
}

.img_profile {
  width: 50px;
  padding: 10px;
  
}

.dp-backdrop.dp-modal-backdrop .dp-modal-header {
  background: var(--secondarycolor);
  color: #000;
}

.dp-backdrop.dp-modal-backdrop .dp-close-modal {
  color: #000;
}

