.header-logo-img {
  height: 70px;
  width: 70px;
  border-radius: 15%;
}

.header-profile-img {
  height: 55px;
  width: 55px;
  border-radius: 15%;
  margin-left: 15px;
}


.selected {
  border: 2px solid red;
  border-radius: 5px; 
}
