.header-logo-img {
  height: 70px;
  width: 70px;
}

.header-profile-img {
  height: 55px;
  width: 55px;
  border-radius: 15%;
  margin-left: 15px;
}


.selected {
  border: 2px solid red;
  border-radius: 5px; 
}

.btn_img {
  background: transparent;
  border-radius: 50%;
  border: none;
}

.btn_img:hover{
  transform: scale(1.1);
}

.img_profile {
  border-radius: 50%;
  width: 50px;
}

