<form [formGroup]="loginForm">
  <h3 class="d-flex justify-content-center">Σύνδεση</h3>
    <!-- Email input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <input formControlName="email" type="email" id="form2Example1" class="form-control" />
      <label class="form-label" for="form2Example1">Email</label>
    </div>
  
    <!-- Password input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <input formControlName="password" type="password" id="form2Example2" class="form-control" />
      <label class="form-label" for="form2Example2">Κωδικός πρόσβασης</label>
    </div>
  
    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
      <div class="col d-flex justify-content-center">
        <!-- Checkbox -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="form2Example34" checked />
          <label class="form-check-label" for="form2Example34"> Remember me </label>
        </div>
      </div>
  
      <div class="col">
        <!-- Simple link -->
        <a href="#!">Forgot password?</a>
      </div>
    </div>
  
    <!-- Submit button -->
    <a routerLink="/stores"><button data-mdb-ripple-init type="button" class="btn btn-primary btn-block mb-4">Σύνδεση</button></a>
  
  </form>