<div class="card store-card-item">
    <a href="#" class="store-card-item-link-wrapper">
        <img class="card-img-top" [src]="store.image_url" [alt]="store.category">
        <div class="card-body">
            <div class="card-body-inner">
                <div class="store-logo">
                    <img src="https://cdn.e-food.gr/shop/6494511/logo?t=1687786537">
                </div>
                <div class="store-info">
                    <h3 class="card-title">{{store.name}}</h3>                    
                    <div class="store-category">{{store.category}}</div>
                    <div class="store-info-bottom">
                        <div class="store-delivery-time"><i class="fa fa-clock-o" aria-hidden="true"></i> 10' - 20'</div>
                        <div class="store-rating"><i class="fa fa-star" aria-hidden="true"></i> {{store.rating}}</div>
                    </div>
                </div>
            </div>            
        </div>
    </a>
</div>