<!-- Main -->
@if (cart.length <= 0) {
	<div class="container no-products-box-outer">
		<div class="no-products-box">			
			<h2 class="primary-title">Your cart is empty!</h2>
			<h3 class="secondary-title">To continue add products to your cart.</h3>
			<a href="/stores" class="btn btn-main">Return to the stores</a>
		</div>
	</div>
}
@else {
<ng-template *ngIf="orderCompleted; then successBlock else checkoutBlock"></ng-template>

<ng-template #checkoutBlock>
	<div class="container">
		<div class="row d-flex justify-content-center checkout-info-outer">
			<div class="address-item" title="Address">
				<i class="fa fa-map-marker" aria-hidden="true"></i><span class="content">{{address}}</span>
				<div class="alert alert-danger" role="alert" *ngIf="showAlert">
					Select address
				</div>
			</div>
			<!-- Cart -->
			<div class="checkout-products-list">
		
				@for (item of cart; track $index)
				{
				<app-product class="m-3 checkout-product-item" [product]="{title:item.title,price:item.price}" />
				}
			</div>
			<!-- Final step before purchase -->
			<div class="checkout-box-bottom">
				<!-- Total Box -->				
				<div class="checkout-total">
					<span class="checkout-total-label">Your total:</span>
					<span class="checkout-total-content">{{total.toFixed(2)}}€</span>
				</div>
				
				<!-- Complete Purchase button -->
				<div class="btn btn-main " (click)="completePurchase()">Complete Purchase</div>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #successBlock>
	<div class="container checkout-success-container">
		<h2 class="primary-title">Your order is placed!</h2>
		<div class="address-item" title="Address">
			<i class="fa fa-map-marker" aria-hidden="true"></i><span class="content">{{address}}</span>
		</div>
		<div class="cart-box">
			<ul class="cart-list">
				<li *ngFor="let product of cart" class="cart-item">
					<h4 class="cart-item-title">{{ product.title }}</h4>
					<span class="cart-item-price"> {{ product.price | currency:'EUR':'symbol' }}</span>
				</li>
			</ul>
			
			<div class="cart-item total-item">
				<h4 class="cart-item-title">Total</h4>
				  <span class="cart-item-price"> {{ total | currency:'EUR':'symbol' }}</span>
			</div>
		</div>

	</div>
</ng-template>
}