<!-- Main -->
@if (cart.length <= 0) {
	<div class="container">
		<div class="no-products-box">
			
			<h2 class="primary-title">Το καλάθι σου είναι άδειο!</h2>
			<h3 class="secondary-title">Για να συνεχίσεις πρόσθεσε προϊόντα στο καλάθι σου.</h3>
			<a href="/stores" class="btn btn-main">Eπιστροφή στα καταστήματα</a>
		</div>
	</div>
}
@else {
<ng-template *ngIf="orderCompleted; then successBlock else checkoutBlock"></ng-template>

<ng-template #checkoutBlock>
	<div class="container">
		<div class="row d-flex  justify-content-center checkout-info-outer">
			<!-- Cart -->
			<div class="m-3 col-4 rounded-4 checkout-box">
		
				@for (item of cart; track $index)
				{
				<app-product class="m-3" [product]="{title:item.title,price:item.price}" />
				}
			</div>
			<!-- Final step before purchase -->
			<div class="d-flex flex-column justify-content-between m-3 col-4 rounded-4 checkout-box">
				<!-- Total Box -->
				<div class="m-5">
					<h3 class="my-4">Your total:</h3>
					<h1>{{total.toFixed(2)}}€</h1>
				</div>
				<div class="mx-5">
					<h6>Delivered at your location:</h6>
					<h4>{{address}}</h4>
				</div>
				<!-- Complete Purchase button -->
				<div class="btn btn-primary m-5" (click)="completePurchase()">Complete Purchase</div>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #successBlock>
	<div class="container checkout-success-container">
		<h2 class="primary-title">Η παραγγελία σας ολοκληρώθηκε!</h2>
		<div class="address-item">
			<!-- <span class="label">Διεύθυνση:</span> --><i class="fa fa-map-marker" aria-hidden="true"></i><span class="content">{{address}}</span>
		</div>
		<div class="cart-box">
			<ul class="cart-list">
				<li *ngFor="let product of cart" class="cart-item">
					<h4 class="cart-item-title">{{ product.title }}</h4>
					<span class="cart-item-price"> {{ product.price | currency:'EUR':'symbol' }}</span>
				</li>
			</ul>
			
			<div class="cart-item total-item">
				<h4 class="cart-item-title">Σύνολο</h4>
				  <span class="cart-item-price"> {{ total | currency:'EUR':'symbol' }}</span>
			</div>
		</div>

	</div>
</ng-template>
}