
    <div class="container-fluid">
      <div class="d-flex flex-row-reverse m-2 top-buttons-section">
          <button [ngClass]="showLogin ? 'active-btn' : ' ' " (click)="onButton1()" class="btn btn-light rounded-pill " type="submit">Sign In</button>
          <button [ngClass]="!showLogin ? 'active-btn' : ' ' "  (click)="onButton2()" class="btn btn-light sign-up rounded-pill" type="submit">Register</button>
      </div>
    </div>
<div class="container form-container">
  <div class="row">
    <div class="col-4 d-flex align-items-center" >
      <app-login-page *ngIf="showLogin">
      </app-login-page> 
      <app-sing-up-page *ngIf="!showLogin"/>
      
    </div>
    <div class="col-8">
      <img src="\assets\images\pizza.jpg" width="800" height="600">
    </div>
  </div>
</div>


