#store_name {
	width: max-content;
	padding: 5px 20px;
	position: absolute;
	bottom: 15px;
	left: 0;
	margin-left: 15px;
	color: #fff;
}

.my_wrapper {
	position: relative;
}

.pointer {
	cursor: pointer;
}

.store-cover-wrapper{
	overflow: hidden;
	position: relative;
}

.store-cover-wrapper::before{
	content:"";
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
}

.store-cover img{
	max-height: 350px;
	object-fit:cover;
	padding: 0;
}
.store-cart-outer{
	position: -webkit-sticky;
  	position: sticky;
  	top: 0;
}

.store-cart-wrapper{
	box-shadow: var(--mainboxshadow);
	border-radius: 5px;
	padding: 40px 20px;
}

.store-cart-wrapper .secondary-title {
    margin-top: 0;
}