<!-- <app-header style="position: sticky; top: 0px; z-index: 100;" /> -->
<!-- Main -->
@if (storeInfo === undefined) {
<app-file-not-found />
}
@else {

<div class="row">
	<!-- Store -->
	<div class="col-8" style="margin-left: 2em;">
		<!-- Store Image and Name -->
		<div class="my_wrapper m-3">
			<div class="row">
				@if (storeInfo.image_url === undefined)
				{
				<img src="../assets/images/demo_img.jpg" alt="`{{storeInfo.name}}`'s store image failed to load"
					class="rounded-4">
				}
				@else {
				<img [src]="storeInfo.image_url" alt="`{{storeInfo.name}}`'s store image" class="rounded-4">
				}
			</div>
			<div class="bg-danger rounded-3 " id="store_name">
				<p class="m-0">{{storeInfo.name}}</p>
			</div>
		</div>

		<!-- Products -->
		<div class="m-3">
			<h4 class="my-4 mx-3">Products</h4>
			@for (product of storeInfo.products; track $index) {
			<app-product class="pointer" [product]="{title:product.name,price:product.price}" [cart]="cart" />
			<br>
			}

		</div>
	</div>
	<!-- Cart -->
	<div class="col-3 m-3 ">
		<div class="border border-1 border-black rounded-3 p-3">

			<h4 class="">Cart</h4>
			@if (cart.length == 0)
			{
			<h5 class="my-4">Your cart is empty.<br>Please add Items.</h5>
			}
			@else {
			<br>
			@for (item of cart; track $index)
			{
			<app-cart-item [product]="{title:item.title,price:item.price}" [cartIndex]="$index"
				(cartEmiter)="removeFromCart($event)" />
			<br>
			}
			<br>
			<div class="btn btn-primary" (click)="goToCheckout()">Proceed to Checkout</div>
			}
		</div>
	</div>
</div>
}