<form [formGroup]="applyForm">
  <h3 class="d-flex justify-content-center">Register</h3>
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row mb-4">
      <div class="col">
        <div data-mdb-input-init class="form-outline">
          <input formControlName="firstname" type="text" id="form3Example1" class="form-control" />
          <label class="form-label" for="form3Example1">Name</label>
        </div>
      </div>
      <div class="col">
        <div data-mdb-input-init class="form-outline">
          <input formControlName="lastname" type="text" id="form3Example2" class="form-control" />
          <label class="form-label" for="form3Example2">Surname</label>
        </div>
      </div>
    </div>
  
    <!-- Email input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <input formControlName="email" type="email" id="form3Example3" class="form-control" />
      <label class="form-label" for="form3Example3">Email </label>
    </div>

    <!-- Phone Number input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <input formControlName="phonenumber" type="number" id="form3Example3" class="form-control" />
      <label class="form-label" for="form3Example3">Phone number </label>
    </div>
  
    <!-- Password input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <input formControlName="password" type="password" id="form3Example4" class="form-control" />
      <label class="form-label" for="form3Example4">Password</label>
    </div>
  
    <!-- Submit button -->
    <a routerLink="/stores"><button data-mdb-ripple-init type="button" class="btn btn-main btn-block mb-4">Register</button></a>
  
  