/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body>* {
    font-family: 'Noto Sans', sans-serif;
}

body a {
    text-decoration: none;
}

html{
    --brandcolor:#C21804;
    --brandcolorlight:#d22714;
    --secondarycolor:#fab800;    
    --secondarycolorlight:#ffc526;
    --greytxt:#b0b0b0;
    --greyborder:#f0f0f0;
    --greybg:#f3f3f3;

    --mainboxshadow:4px 4px 16px 0px rgba(0, 0, 0, 0.1);
    --hf:330px;
}

html, body { 
    height: 100%;
}

body { 
    margin: 0; 
    color: #000;
}

a,button{
    transition: 0.3s ease-in-out;
}

.primary-title {
    font-size: 33px;
    font-weight: 600;
}

.secondary-title{
    margin-top: 40px;
    margin-bottom: 25px;
    font-size: 24px;
}

.grey-bg-title{
    display: block;
    background: var(--greybg);
    padding: 5px 13px;
    font-size: 18px;
    color: #000;
}

.btn.btn-main,
.btn-main{
    background: var(--secondarycolor);
    color: #000;
    font-weight: 500;
    padding: 6px 12px;
    border: none;
}

.btn.btn-main:hover,
.btn.btn-main:active,
.btn.btn-main:focus-visible,
.btn-main:hover,
.btn-main:active,
.btn-main:focus-visible {
    background: var(--secondarycolorlight);
    color: #000;
}

.btn.btn-full {
    display: block;
}

.dp-backdrop.dp-modal-backdrop .dp-modal-header {
    background: var(--secondarycolor);
    color: #000;
}
 
.dp-backdrop.dp-modal-backdrop .dp-close-modal {
    color: #000;
}

.dp-backdrop.dp-modal-backdrop .list-group-flush > .list-group-item {
    background: transparent;
}