/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body>* {
    font-family: 'Noto Sans', sans-serif;
}

body a {
    text-decoration: none;
}

html{
    --brandcolor:#C21804;
    --brandcolorlight:#d22714;
    --greytxt:#b0b0b0;
    --greyborder:#f0f0f0;
    --greybg:#f3f3f3;

    --mainboxshadow:4px 4px 16px 0px rgba(0, 0, 0, 0.1);
    --hf:330px;
}

html, body { 
    height: 100%;
}

body { 
    margin: 0; 
    color: #000;
}

a,button{
    transition: 0.3s ease-in-out;
}

.primary-title {
    font-size: 33px;
    font-weight: 600;
}

.secondary-title{
    margin-top: 40px;
    margin-bottom: 25px;
    font-size: 24px;
}

.btn.btn-main{
    background: var(--brandcolor);
    color: #fff;
}

.btn.btn-main:hover {
    background: var(--brandcolorlight);
    color: #fff;
}

.btn.btn-full {
    display: block;
}